:root{  
    --white: #ffffff;
    --black: #000000;
    --grey: #7f7f7f;
    --light-grey: #e8e5e480;
    --font-1: "Inter";
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-1), sans-serif;
}

#nav-bar{
    display: inline-flex;
    border-radius: 1.7em;
    width: max-content;
    background-color: var(--light-grey);
    position: fixed;
    height: 40px;
    padding: 5px;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    backdrop-filter: blur(5px);
}

#nav-bar a{
    padding: 10px 20px;
    color: var(--black);
    text-decoration: none;
}

/****************Section one*********************/
.first-section{
    text-align: center;
    height: 50vh;
    outline: 1px solid red;
    padding: 150px 300px;
}

h1{
    color: var(--black);
    font-size: 70px;
    font-weight: 500;
}

.border-text{
    border-radius: 1.7em;
    background-color: var(--light-grey);
    padding: 6px 12px;
}

.images-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-div{
    width: 45%;
    height: 400px;
    background-color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer{
    text-align: center;
    padding-top: 150px;
    height: 40vh;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

.grey-text-span{
    display: block;
    color: var(--grey);
    cursor: pointer;
}

.grey-text-span:hover{
    color: var(--light-grey);
}

.footer-sm-p{
    font-size: 12px;
    margin-top: 0px;
}

